Checks:          'performance-*,clang-diagnostic-*,clang-analyzer-*,modernize-*,readability-*,misc-*,cppcoreguidelines-*,-readability-convert-member-functions-to-static,-cppcoreguidelines-pro-type-reinterpret-cast'
WarningsAsErrors: ''
HeaderFilterRegex: '*.h'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             google-build-namespaces.HeaderFileExtensions
    value:           h,hh,hpp,hxx
  - key:             google-global-names-in-headers.HeaderFileExtensions
    value:           h
